.benefits {
  background-color: #f9f9f9;
  // .benefits__title
  &__title {
    @media (max-width: 530px) {
      text-align: center;
    }
  }
  // .benefits__list
  &__list {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 40px;

    @media (max-width: 530px) {
      grid-template-columns: repeat(6, 1fr);
    }
  }
}

.benefits-item {
  grid-column: 4 span;

  @include high-desktop {
    grid-column: 6 span;
  }

  @media (max-width: 530px) {
    text-align: center;
    grid-column: 6 span;
  }

  &__title-tooltip {
    display: flex;
    @media (max-width: 530px) {
      justify-content: center;
      margin-right: -34px;
    }
  }
  // .benefits-item__title
  &__title {
    margin: 0 0 20px;
    font-weight: 600;
    font-size: 24px;
    line-height: 160%;
    color: var(--dark-color);
  }
  // .benefits-item__text
  &__text {
    font-weight: 400;
    font-size: 18px;
    line-height: 160%;
    color: var(--text-color);
  }
}
