.btn {
  display: inline-block;
  padding: 25px 54px;
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  border-radius: 5px;
  color: var(--light-color);
  background-color: var(--accent-color);
}
