.tooltip {
  margin-left: 10px;
  // .tooltip__btn
  &__btn {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    background: rgba(20, 16, 36, 0.08);
    overflow: hidden;

    svg {
      width: 2px;
      height: 12px;
    }

    &:focus {
      + .tooltip__txt {
        opacity: 1;
        visibility: visible;
      }
    }

    @include hover {
      + .tooltip__txt {
        opacity: 1;
        visibility: visible;
      }
    }
  }
  // .tooltip__txt
  &__txt {
    padding: 15px 20px;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    color: var(--dark-color);
    background: var(--light-color);
    box-shadow: 0px 2px 8px rgba(20, 16, 36, 0.1);
    border-radius: 5px;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }
}
