<section class="about section-offset" id="about">
  <div class="container">
    <h2 class="visually-hidden">О школе</h2>
    <div class="about__descr">
      <span>Robo School</span> – учреждение для формирования кадрового
      педагогического резерва в сфере робототехники и программирования
    </div>
    <ul class="list-reset about__list">
      <li class="about__item">
        <div class="about__number">10</div>
        <div class="about__text">
          УМК по различным направлениям по робототехнике
        </div>
      </li>
      <li class="about__item">
        <div class="about__number">20</div>
        <div class="about__text">Школ, в которых запущена робототехника</div>
      </li>
      <li class="about__item">
        <div class="about__number">100</div>
        <div class="about__text">
          Педагогов прошедших курсы повышения квалификации
        </div>
      </li>
      <li class="about__item">
        <div class="about__number">10 000</div>
        <div class="about__text">
          Обученных детей на базе собственных центров
        </div>
      </li>
    </ul>
  </div>
</section>
