<section class="benefits section-offset">
  <div class="container">
    <h2 class="benefits__title section-title">Что вы получите после курса</h2>
    <ul class="list-reset benefits__list">
      <li class="benefits-item">
        <h3 class="benefits-item__title">Удостоверение</h3>
        <div class="benefits-item__text">
          Дающее право преподавать робототехнику для детей 6-12 лет в
          образовательных учреждениях
        </div>
      </li>
      <li class="benefits-item">
        <h3 class="benefits-item__title">Знания</h3>
        <div class="benefits-item__text">
          По основам разработки учебно-методических комплексов по робототехнике
          и программированию
        </div>
      </li>
      <li class="benefits-item">
        <div class="benefits-item__title-tooltip">
          <h3 class="benefits-item__title">Практику</h3>
          <span class="tooltip">
            <button class="btn-reset tooltip__btn" aria-describedby="practice">
              <svg aria-hidden="true">
                <use href="img/sprite.svg#tooltip-icon"></use>
              </svg>
            </button>
            <span class="tooltip__txt" role="tooltip" id="practice">
              <span class="visually-hidden">Тултип: </span>
              При наличии свободных мест
            </span>
          </span>
        </div>
        <div class="benefits-item__text">
          Возможность пройти практику по преподаванию робототехники на базе R:ED
          LAB (в оффлайн или онлайн формате)
        </div>
      </li>
    </ul>
  </div>
</section>
