<section class="tariffs section-offset" id="tariffs">
  <div class="container">
    <h2 class="tariffs__title section-title">Выберите нужный пакет</h2>
    <ul class="tariffs__list list-reset">
      <li class="tariffs-item tariffs-item_current">
        <h3 class="tariffs-item__title">PRO</h3>
        <div class="tariffs-item__price">20.000 ₽</div>
        <div class="tariffs-item__descr">
          УМК по робототетхнике и программированию
        </div>
        <button class="btn-reset btn tariffs-item__btn">Оставить заявку</button>
      </li>
      <li class="tariffs-item">
        <h3 class="tariffs-item__title">ROBO</h3>
        <div class="tariffs-item__price">15.000 ₽</div>
        <div class="tariffs-item__descr">УМК по робототетхнике</div>
        <button class="btn-reset btn tariffs-item__btn">Оставить заявку</button>
      </li>
      <li class="tariffs-item">
        <h3 class="tariffs-item__title">PROG</h3>
        <div class="tariffs-item__price">10.000 ₽</div>
        <div class="tariffs-item__descr">УМК по программированию</div>
        <button class="btn-reset btn tariffs-item__btn">Оставить заявку</button>
      </li>
    </ul>
  </div>
</section>
