<section class="treners section-offset" id="treners">
  <div class="container">
    <h2 class="treners__title section-title">Профессиональные тренеры</h2>
  </div>
  <div class="treners__wrapper">
    <div class="swiper treners__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="treners__item">
            <picture>
              <source srcset="img/trener-1.avif" type="image/avif" />
              <source srcset="img/trener-1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/trener-1.jpg"
                class="treners__image"
                width="360"
                height="500"
                alt="Ирина Лайм"
              />
            </picture>
            <div class="treners__name">Ирина Лайм</div>
            <div class="treners__post">преподаватель по робототехнике</div>
            <button class="btn-reset treners__btn" data-graph-path="trener-1">
              Подробнее
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="treners__item">
            <picture>
              <source srcset="img/trener-2.avif" type="image/avif" />
              <source srcset="img/trener-2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/trener-2.jpg"
                class="treners__image"
                width="360"
                height="500"
                alt="Марина Орлова"
              />
            </picture>
            <div class="treners__name">Марина Орлова</div>
            <div class="treners__post">преподаватель по робототехнике</div>
            <button class="btn-reset treners__btn" data-graph-path="trener-2">
              Подробнее
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="treners__item">
            <picture>
              <source srcset="img/trener-3.avif" type="image/avif" />
              <source srcset="img/trener-3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/trener-3.jpg"
                class="treners__image"
                width="360"
                height="500"
                alt="Максим Петров"
              />
            </picture>
            <div class="treners__name">Максим Петров</div>
            <div class="treners__post">преподаватель по программированию</div>
            <button class="btn-reset treners__btn" data-graph-path="trener-3">
              Подробнее
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="treners__item">
            <picture>
              <source srcset="img/trener-4.avif" type="image/avif" />
              <source srcset="img/trener-4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/trener-4.jpg"
                class="treners__image"
                width="360"
                height="500"
                alt="Константин Назаров"
              />
            </picture>
            <div class="treners__name">Константин Назаров</div>
            <div class="treners__post">преподаватель по робототехнике</div>
            <button class="btn-reset treners__btn" data-graph-path="trener-4">
              Подробнее
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="treners__item">
            <picture>
              <source srcset="img/trener-5.avif" type="image/avif" />
              <source srcset="img/trener-5.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/trener-5.jpg"
                class="treners__image"
                width="360"
                height="500"
                alt="Лиза Весенняя"
              />
            </picture>
            <div class="treners__name">Лиза Весенняя</div>
            <div class="treners__post">преподаватель по программированию</div>
            <button class="btn-reset treners__btn" data-graph-path="trener-5">
              Подробнее
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="treners__nav">
      <div class="swiper-scrollbar treners__scroll"></div>
      <div class="treners__btns"></div>
    </div>
  </div>
</section>
