.header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 30px 0;
  width: 100%;
  // .header__container
  &__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}
