.nav {
  // .nav__list
  &__list {
    display: flex;
    align-items: center;
  }
  // .nav__item
  &__item {
    &:not(:last-child) {
      margin-right: 40px;
    }
  }
  // .nav__link
  &__link {
    font-weight: 400;
    font-size: 20px;
    line-height: 160%;
    color: var(--light-color);
  }
}
