<section class="hero">
  <div class="container hero__container">
    <div class="hero__content">
      <h1 class="hero__title">ROBO SCHOOL</h1>
      <div class="hero__descr">
        Курсы повышения квалификации по робототехнике для педагогов начальной
        школы
      </div>
      <a href="#tariffs" class="hero__link btn" data-scroll
        >Записаться на курс</a
      >
    </div>
    <div class="hero__image">
      <picture>
        <source srcset="img/hero-1.avif" type="image/avif" />
        <source srcset="img/hero-1.webp" type="image/webp" />
        <img
          loading="lazy"
          src="img/hero-1.png"
          class="image"
          width="783"
          height="917"
          alt="Девушка"
        />
      </picture>
    </div>
  </div>
</section>
