<section class="trainers section-offset" id="trainers">
  <div class="container">
    <h2 class="trainers__title section-title">Профессиональные тренеры</h2>
  </div>
  <div class="trainers__wrapper">
    <div class="swiper trainers__content">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trener-1.avif" type="image/avif" />
              <source srcset="img/trener-1.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/trener-1.jpg"
                class="trainers__image"
                width="360"
                height="500"
                alt="Ирина Лайм"
              />
            </picture>
            <div class="trainers__name">Ирина Лайм</div>
            <div class="trainers__post">преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trener-1">
              Подробнее
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trener-2.avif" type="image/avif" />
              <source srcset="img/trener-2.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/trener-2.jpg"
                class="trainers__image"
                width="360"
                height="500"
                alt="Марина Орлова"
              />
            </picture>
            <div class="trainers__name">Марина Орлова</div>
            <div class="trainers__post">преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trener-2">
              Подробнее
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trener-3.avif" type="image/avif" />
              <source srcset="img/trener-3.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/trener-3.jpg"
                class="trainers__image"
                width="360"
                height="500"
                alt="Максим Петров"
              />
            </picture>
            <div class="trainers__name">Максим Петров</div>
            <div class="trainers__post">преподаватель по программированию</div>
            <button class="btn-reset trainers__btn" data-graph-path="trener-3">
              Подробнее
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trener-4.avif" type="image/avif" />
              <source srcset="img/trener-4.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/trener-4.jpg"
                class="trainers__image"
                width="360"
                height="500"
                alt="Константин Назаров"
              />
            </picture>
            <div class="trainers__name">Константин Назаров</div>
            <div class="trainers__post">преподаватель по робототехнике</div>
            <button class="btn-reset trainers__btn" data-graph-path="trener-4">
              Подробнее
            </button>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="trainers__item">
            <picture>
              <source srcset="img/trener-5.avif" type="image/avif" />
              <source srcset="img/trener-5.webp" type="image/webp" />
              <img
                loading="lazy"
                src="img/trener-5.jpg"
                class="trainers__image"
                width="360"
                height="500"
                alt="Лиза Весенняя"
              />
            </picture>
            <div class="trainers__name">Лиза Весенняя</div>
            <div class="trainers__post">преподаватель по программированию</div>
            <button class="btn-reset trainers__btn" data-graph-path="trener-5">
              Подробнее
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="trainers__nav">
      <div class="swiper-scrollbar trainers__scroll"></div>
      <div class="trainers__btns">
        <button
          class="btn-reset trainers__slider-btn trainers__slider-btn_prev"
          aria-label="Перейти к предыдущему слайду"
        >
          <svg aria-hidden="true">
            <use href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
        <button
          class="btn-reset trainers__slider-btn trainers__slider-btn_next"
          aria-label="Перейти к следующему слайду"
        >
          <svg aria-hidden="true">
            <use href="img/sprite.svg#arrow"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
